  /* Global */
  .gcdc-gate *{
    font-family: inherit;
    line-height: inherit;
    color: inherit;
  }

  /* Intro */
  .gcdc-form-intro {
    display:none !important;
  }

  /* Box */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs, .gcdc-gate .gcdc-content-render{
    background: transparent
  }

  /* Content */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs, .gcdc-gate .gcdc-content-render{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 4.8rem;
    margin: 0;
    padding: 0;
    max-width: none !important;
  }
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div, .gcdc-gate .gcdc-content-render>div{
    margin: 0 !important;
  }

  /* Field */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs.gcdc-form-double-column>div.gcdc-form-group.gcdc-form-group-halfwidth:not(.hidden), .gcdc-gate .gcdc-content-render.gcdc-form-double-column>div.gcdc-form-group.gcdc-form-group-halfwidth:not(.hidden){
    width: 100% !important;
  }

  /* Label */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group label.gcdc-form-label, .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group p.gcdc-form-block-text, .gcdc-gate .gcdc-content-render>div.gcdc-form-group label.gcdc-form-label, .gcdc-gate .gcdc-content-render>div.gcdc-form-group p.gcdc-form-block-text{
    display:none;
  }

  /* Input */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group input.gcdc-form-field, .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group textarea.gcdc-form-field, .gcdc-gate .gcdc-content-render>div.gcdc-form-group input.gcdc-form-field, .gcdc-gate .gcdc-content-render>div.gcdc-form-group textarea.gcdc-form-field,.gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group select.gcdc-form-field, .gcdc-gate .gcdc-content-render>div.gcdc-form-group select.gcdc-form-field, .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group input[name="emailAddress"].gcdc-form-field {
    width: 100% !important;
    height: 6.4rem !important;
    margin-top: -1px;
    margin-bottom: 0px;
    padding: 1.6rem 0.8rem !important;
    border-top-style: none;
    border-top-width: 0px;
    border-top-color: black;
    border-right-style: none;
    border-right-width: 0px;
    border-right-color: black;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-bottom-color: white !important;
    border-left-style: none;
    border-left-width: 0px;
    border-left-color: black;
    border-radius: 0px !important;
    background-color: transparent !important;
    transition-property: border-color;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(.215, .61, .355, 1);
    color: white;
    font-size: 2rem !important;
    line-height: 1.3;
    font-weight: 500;
  }
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group input.gcdc-form-field:active, 
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group input.gcdc-form-field:hover, 
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group.gcdc-form-group-checkbox input.gcdc-form-field[type="checkbox"]:focus, 
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group select.gcdc-form-field:hover, 
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group select.gcdc-form-field:focus, 
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group input.gcdc-form-field:focus, 
  .gcdc-gate .gcdc-content-render>div.gcdc-form-group select.gcdc-form-field:hover,
  .gcdc-gate .gcdc-content-render>div.gcdc-form-group select.gcdc-form-field:focus, 
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group textarea.gcdc-form-field:active, 
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group textarea.gcdc-form-field:focus, 
  .gcdc-gate .gcdc-content-render>div.gcdc-form-group input.gcdc-form-field:active, 
  .gcdc-gate .gcdc-content-render>div.gcdc-form-group input.gcdc-form-field:focus, 
  .gcdc-gate .gcdc-content-render>div.gcdc-form-group textarea.gcdc-form-field:active, 
  .gcdc-gate .gcdc-content-render>div.gcdc-form-group textarea.gcdc-form-field:focus{
    border-color: #983dd8 !important;
    outline: none;
    box-shadow:none;
  }

  /* Select */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group .gcdc-form-field-wrapper.gcdc-select-wrapper, .gcdc-gate .gcdc-content-render>div.gcdc-form-group .gcdc-form-field-wrapper.gcdc-select-wrapper{
    background: transparent;
    overflow: visible;
    height: 100% !important;
  }
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group .gcdc-form-field-wrapper.gcdc-select-wrapper select, .gcdc-gate .gcdc-content-render>div.gcdc-form-group .gcdc-form-field-wrapper.gcdc-select-wrapper select, .gcdc-form-render.gcdc-form-render-AILabs .gcdc-form-field-wrapper select[name="country"]{
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none"><path d="M22.332 12.9001L16.902 18.3301L11.472 12.9001" stroke="white" stroke-width="2"/></svg>') !important;
    background-repeat: no-repeat !important;
    background-position: right 8px center !important;
    background-size: 3.2rem !important;
  }

  .gcdc-gate select{
    color:white;
  }

  /* Checkbox */
  .gcdc-form-group-checkbox{
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
    order: 4;
  }
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group.gcdc-form-group-checkbox input.gcdc-form-field[type="checkbox"], .gcdc-gate .gcdc-content-render>div.gcdc-form-group.gcdc-form-group-checkbox input.gcdc-form-field[type="checkbox"] {
    -webkit-appearance: none;
    height: 16px !important;
    width: 16px !important;
    margin-top: 1px;
    margin-right: 16px;
    margin-bottom: 5px;
    border: 1px solid white;
    display: inline-block;
    padding: 0 !important;
    outline:none !important;
  }
  /* Checked */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group.gcdc-form-group-checkbox input.gcdc-form-field[type="checkbox"]:focus{
    border-color: #983dd8 !important;
    outline:none !important;
  }
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group.gcdc-form-group-hasvalue input.gcdc-form-field[type="checkbox"]  {
    border-color: #983dd8 !important;
    background-color: #983dd8 !important;
    outline: none;
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg);
    background-position: 50%;
    background-repeat: no-repeat;
  }

  /* Checkbox Label */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group.gcdc-form-group-checkbox input.gcdc-form-field[type="checkbox"]+label, .gcdc-gate .gcdc-content-render>div.gcdc-form-group.gcdc-form-group-checkbox input.gcdc-form-field[type="checkbox"]+label {
    display: inline;
    color: #BCBBC8 !important;
    font-size: 1.6rem !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 140% !important;
    letter-spacing: -0.02em;
  }

  /* Button */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group .gcdc-form-button, .gcdc-gate .gcdc-content-render>div.gcdc-form-group .gcdc-form-button{
    display: flex;
    width: 100% !important;
    padding-top: 0.8rem;
    padding-right: 6.4rem;
    padding-bottom: 0.8rem;
    padding-left: 1.6rem;
    align-items: center;
    grid-column-gap: 1rem;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #983dd8;
    color: white;
    font-size: 2rem !important;
    font-weight: 500;
    text-align: center;
    height: 6.4rem;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M28 16.4286L4 16.4286M28 16.4286L18.5714 7M28 16.4286L18.5714 25.8571" stroke="white" stroke-width="2"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 2rem) 50%;
    background-size: 3.2rem;
    transition-property: background-color;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group .gcdc-form-button:hover, .gcdc-gate .gcdc-content-render>div.gcdc-form-group .gcdc-form-button:hover {
    background-color: hsla(275.2258064516129, 61.87%, 44.48%, 1.00);
  }

  /* Success */
  .gcdc-content-intro p {
    display: block;
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #00D8C6;
    padding-left: 4rem;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none"%3E%3Cpath d="M5 17.3301L12 24.3301L27 9.33008" stroke="%2300D8C6" stroke-width="2"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 3.2rem;
  }

  /* Error */
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group span.gcdc-form-error, .gcdc-gate .gcdc-content-render>div.gcdc-form-group span.gcdc-form-error {
    position: static;
    right: 0;
    top: -21px;
    background: none;
    color: #fff;
    margin-top: 1rem;
    font-size: 1.6rem;
    padding: 0.125rem 0 0 0.3125rem;
    color: #bb3937;
  }
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group-error input.gcdc-form-field, 
  .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group-error input[name=emailAddress].gcdc-form-field{
   border: 2px solid #D42953 !important;
    border-bottom: 2px solid #D42953 !important;
  }
  .gcdc-form-render.gcdc-form-render-AILabs .gcdc-form-error::before{
    display:none;
  }


  /* Respo */
  @media only screen and (max-width: 767px){
    .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs, .gcdc-gate .gcdc-content-render{
      display: flex !important;
      gap: 2rem;
      flex-direction: column;
    }
  }

  /* Variants */
  .background-color-white .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group :is(input,select,textarea).gcdc-form-field,
  .background-color-white .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group :is(input::placeholder,textarea::placeholder)
  .background-color-white .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group.gcdc-form-group-checkbox input.gcdc-form-field[type="checkbox"], .background-color-white .gcdc-gate .gcdc-content-render>div.gcdc-form-group.gcdc-form-group-checkbox input.gcdc-form-field[type="checkbox"],
  .background-color-white .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group.gcdc-form-group-checkbox input.gcdc-form-field[type=checkbox]+label{
    border-color: black !important;
    color: black !important;
  }


  .background-color-white .gcdc-gate .gcdc-form-render.gcdc-form-render-AILabs>div.gcdc-form-group .gcdc-form-field-wrapper.gcdc-select-wrapper select, .background-color-white .gcdc-gate .gcdc-content-render>div.gcdc-form-group .gcdc-form-field-wrapper.gcdc-select-wrapper select{
    background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none"><path d="M22.332 12.9001L16.902 18.3301L11.472 12.9001" stroke="black" stroke-width="2"/></svg>') !important;
  }