:root {
  --cube-width: 20em; /* Cube width (4 units) */
  --cube-height: 15em; /* Cube height (3 units) */
  --face-depth: 0.25em; /* Depth of cube faces */
  --negative-depth: calc(var(--face-depth) * -1); /* Negative depth for convenience */
  --width-offset: calc(var(--cube-width) - var(--face-depth)); /* Width offset for full depth */
  --height-offset: calc(var(--cube-height) - var(--face-depth)); /* Height offset for full depth */
  --zDepth: 0em;
}

/* Timeline */
@media only screen and (min-width: 992px) and (max-width: 1720px){
  .timeline-box,
  .legacy-timeline-flip{
    font-size: 0.58vw;
  }
}
.timeline-alert {
  animation: alertAnimation 2s infinite;
}

@keyframes alertAnimation {
  0%{
    opacity: 1;
  }
  80%{
    opacity:1;
  }
  82%{
    opacity:0;
  }
  99%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

/* Cards */
@media only screen and (min-width: 1720px){
  .card-wrap{
    font-size: 1.75rem;
  }
}
.card-row{
  transform: translate3d(var(--rowX), 0px, 0px) rotateX(var(--rotationX));
  will-change: transform;
}
.card-row *{
  will-change: transform;
}

.card {
  width: var(--cube-width);
  height: var(--cube-height);
  transform: rotate3d(0, 1, 0, var(--angle)) translateY(var(--distance)) translateX(var(--depth)) translateZ(var(--zDepth)) ;
  transition: none;
}

.face {
  background: #E3E5E8;
  border: 0.2em solid white;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  transition: transform 500ms;
}

.front {
  width: var(--cube-width);
  height: var(--cube-height);
  transform: translateZ(var(--face-depth));
}

.back {
  width: var(--cube-width);
  height: var(--cube-height);
  transform: translateZ(var(--negative-depth)) rotateY(180deg);
}

.left {
  width: calc(var(--face-depth) * 2);
  height: var(--cube-height);
  transform: translateX(var(--negative-depth)) rotateY(-90deg);
}

.right {
  width: calc(var(--face-depth) * 2);
  height: var(--cube-height);
  transform: translateX(var(--width-offset)) rotateY(90deg);
}

.top {
  width: var(--cube-width);
  height: calc(var(--face-depth) * 2);
  transform: translateY(var(--negative-depth)) rotateX(90deg);
}

.bottom {
  width: var(--cube-width);
  height: calc(var(--face-depth) * 2);
  transform: translateY(var(--height-offset)) rotateX(-90deg);
}

.card.middle{
  --depth: 0em !important;
}
.card.middle .face.front,
.card.middle .face.back{
  background-image: url('data:image/svg+xml,<svg width="60" height="52" viewBox="0 0 60 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M60 51.4286L30 0L0 51.4286H60ZM32.1471 43.2488C31.5646 43.8267 30.8464 44.1156 29.9924 44.1156C29.1385 44.1156 28.4226 43.8267 27.8448 43.2488C27.2673 42.6713 26.9785 41.9556 26.9785 41.1017C26.9785 40.2474 27.2696 39.5242 27.8517 38.932C28.4342 38.3395 29.1524 38.0433 30.0064 38.0433C30.8603 38.0433 31.5762 38.3395 32.154 38.932C32.7315 39.5242 33.0203 40.2474 33.0203 41.1017C33.0203 41.9556 32.7292 42.6713 32.1471 43.2488ZM32.8387 34.5751H27.1601V21.0215H32.8387V34.5751Z" fill="white"/></svg>');
  background-size: 40% auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.card.middle .face{
  background-color: var(--fill--red);
}
.card.first .face{
  background-color: #F45C5D
}
.cube.second .face{
  background-color: #EBA0A2
}
.cube.third .face{
  background-color: #E6CED1
}